[Unit]
Description=llama.cpp Server
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/llama-server \
    --host 127.0.0.1 \
    --port 9931 \
    --models-dir %h/local-llms/gguf \
    --sleep-idle-seconds 300 \
    --batch-size 4096 \
    --ubatch-size 2048 \
    --flash-attn auto
Restart=on-failure
RestartSec=5
SyslogIdentifier=llama-server

[Install]
WantedBy=default.target
